.details-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 30px;
    max-width: 1100px;
    margin: auto;
    margin-top:60px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.image-section {
    position: relative;
}

.image-section img {
    width: 100%;
    border-radius: 12px;
}

.badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background: green;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
}

.badge.out {
    background: red;
}

.content-section .title {
    font-size: 28px;
    margin-bottom: 5px;
}

.brand {
    color: gray;
    margin-bottom: 10px;
}

.rating {
    margin: 10px 0;
}

.description {
    margin: 15px 0;
    line-height: 1.6;
}

.price-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

.price {
    font-size: 26px;
    font-weight: bold;
}

.discount {
    color: green;
    font-weight: bold;
}

.meta span {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
}

.info p {
    margin: 6px 0;
}

.actions {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.back-btn,
.buy-btn {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.back-btn {
    background: #eee;
}

.buy-btn {
    background: #000;
    color: white;
}

/* Responsive */
@media (max-width: 768px) {
    .details-wrapper {
        grid-template-columns: 1fr;
    }

    .content-section .title {
        font-size: 22px;
    }
}

.loading {
    /* min-height: 220px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    /* height: 100vh; */
    color: #6b7280;
    font-size: 15px;
}

/* Spinner */
.loader {
    width: 42px;
    height: 42px;
    border: 4px solid #e5e7eb;
    border-top: 4px solid #2563eb;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}