<!-- <h3>customer page</h3>
<h5>Data binds with .net core api</h5>

@for (item of customerData(); track item.id) {
<table border="2">
    <tr>
        <th>Customer ID </th>
        <th>Customer Name </th>
        <th>Email</th>
    </tr>
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.customerName}} </td>
        <td>{{item.email}}</td>
    </tr>

</table>
} -->

<div class="table-container">

    <div class="heading">
        <h2>Customer Page</h2>
        <!-- <p style="color: red;">{{error()}}</p>
        <button class="btn primary" (click)="submitForm()">
            {{ updateId() ? 'Update User' : 'Add User' }}
        </button> -->
        <button class="btn primary">Add Customer</button>
    </div>


    <div class="form-card">
        <div class="form-group">
            <label>Customer Name</label>
            <input type="text"   placeholder="Name" />
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text"  placeholder="Email" />
        </div>
    </div>

    <div class="table-wrapper">
        <table class="user-table">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody>
                @for (item of customerData(); track item.id) {
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.customerName }}</td>
                    <td>{{ item.email }}</td>
                    <!-- <td>
                        <a class="action-link" [routerLink]="['/user-details', item.id]">
                            View
                        </a>
                    </td>
                    <td>
                        <a class="action-link edit" (click)="editUser(item)">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a class="action-link edit" (click)="deleteUser(item)">
                            Delete
                        </a>
                    </td> -->
                </tr>
                }
            </tbody>
        </table>
        <div class="loading" *ngIf="!customerData()">
            <div class="loader"></div>
            <p>Loading customer details…</p>
        </div>
    </div>

</div>